<h1>Login</h1>
<div class="login-container">
  <form>
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Username" [(ngModel)]="loginFormData.username" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password" [(ngModel)]="loginFormData.password" />
    </div>
    <button (click)="login()">Login</button>
    <div>
      <p>Don't have an account?</p>
      <button routerLink="/register">Register</button>
    </div>
  </form>
</div>