<div class="register-form">
  <div class="register">
    <h1>Register</h1>
    <form>
      <div class="field">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username" [(ngModel)]="registerFormData.username" />
      </div>
      <div class="field">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="registerFormData.password" />
      </div>
      <div class="field">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Name" [(ngModel)]="registerFormData.name" />
      </div>
      <div class="field">
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="Email" [(ngModel)]="registerFormData.email" />
      </div>
      <div class="field">
        <label for="address">Address:</label>
        <input type="text" name="Address" placeholder="Address" [(ngModel)]="registerFormData.address" />
      </div>
      <button (click)="register()">Register</button>
      <div class="bottom">
        <p>Already have an account?</p>
        <button routerLink="/login">Login</button>
      </div>
    </form>
  </div>
</div>