<div class="contact-form">
  <div class="contact">
    <h1>New Contact</h1>
    <form>
      <div class="field">
        <label for="name">Name:</label>
        <input type="text" name="name" [(ngModel)]="addContactFormData.name" />
      </div>
      <div class="field">
        <label for="address">Address:</label>
        <input type="text" name="Address" [(ngModel)]="addContactFormData.address" />
      </div>
      <div class="field">
        <label for="mobile">Mobile:</label>
        <input type="text" name="mobile" [(ngModel)]="addContactFormData.mobile" />
      </div>
      <div class="field">
        <label for="work">Work:</label>
        <input type="text" name="work" [(ngModel)]="addContactFormData.work" />
      </div>
      <div class="field">
        <label for="home">Home:</label>
        <input type="text" name="home" [(ngModel)]="addContactFormData.home" />
      </div>
      <div class="field">
        <label for="email">Email:</label>
        <input type="text" name="email" [(ngModel)]="addContactFormData.email" />
      </div>
      <div class="field">
        <label for="twitter">Twitter:</label>
        <input type="text" name="twitter" [(ngModel)]="addContactFormData.twitter" />
      </div>
      <div class="field">
        <label for="instagram">Instagram:</label>
        <input type="text" name="instagram" [(ngModel)]="addContactFormData.instagram" />
      </div>
      <div class="field">
        <label for="github">GitHub:</label>
        <input type="text" name="github" [(ngModel)]="addContactFormData.github" />
      </div>
      <button (click)="addContact()">Create</button>
    </form>
  </div>
</div>